#page-body {
  background-image: url('/images/manele-bg.jpg');
  background-size: cover;
}

#app {
  color: #ffffff;
  font-family: Courier;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

#app label {
  font-size: 1.6rem;
}

#app textarea {
  min-height: 300px;
}

#app input, #app textarea, #app select {
  background-color: rgba(26, 5, 24, 0.5);
  outline: 0px;
  border: 3px solid #fd97d9;
  border-radius: 10px;
  box-shadow: 0 0 10px #ffffff;
}

#app .btn-primary {
  background: #df2461;
  border-color: #fd97d9;
  box-shadow: 0 0 10px #ffffff;
}

#app .btn-primary.focus, #app .btn-primary:focus {
  outline: 0px;
}

#app option {
  color: #000000;
}